/* Valid input style */
.valid-style {
  border: 10px solid green;
}

/* Invalid input style */
.invalid-style {
  border: 10px solid yellow;
}

.ng-invalid:not(form),
.ng-invalid.required {
  border: 10px solid green;
}
.ng-invalid:not(form),
.ng-invalid.required {
  border: 10px solid yellow;
}

.custom-bg {
  background-color: #f7a400;
}
